
resources/
node_modules/
tech-doc-hugo
.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore cache folder
blogdown/en
# ignore spr project folders
**/.SPRproject_rmd
**/.SPRproject
content/en/sp/**/data
content/en/sp/**/results
content/en/sp/**/param
