+++
  title = "systemPipeR"
  linkTitle = "systemPipeR"
+++
<link href="css/home_page.css" rel="stylesheet">


<style>
#td-cover-block-0 {
  background-image: url("background.jpg")
}
</style>


{{< blocks/cover title="" image_anchor="top" height="min" color="primary" >}}
<div id="svg-logo"></div>
<script src="js/home_page.js"></script>

<br> </br>
<br> </br>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/spr" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="http://bioconductor.org/packages/release/bioc/html/systemPipeR.html">
    Bioconductor 3.12 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/news" >}}">
		New Features <i class="fa fa-book ml-2 "></i>
	</a>
	<p class="lead mt-5 sps-bg-subtitle">A workflow design, report generation, and visualization framework for data analysis</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

<!--NEXT SECTION-->

{{% blocks/lead color="300" %}}
<strong>systemPipeR Project</strong>

The systemPipeR project provides a suite of R/Bioconductor packages for designing, building and running end-to-end analysis workflows on local machines, HPC clusters and cloud systems, while generating at the same time publication quality analysis reports.

{{% /blocks/lead %}}

<!--NEXT SECTION-->

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-dna" title="Bioconductor" %}}
Download a stable release from [Bioconductor](https://www.bioconductor.org/packages/release/bioc/html/systemPipeR.html).
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/systemPipeR/" %}}
Get the lastest version, submit issues and pull requests.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-arrow-alt-circle-right" title="Demo" %}}
Try an interactive [demo and tutorial](https://tgirke.shinyapps.io/systemPipeShiny/).
{{% /blocks/feature %}}



{{< /blocks/section >}}









