+++
  title = "systemPipe"
  linkTitle = "systemPipe"
+++
<link href="css/home_page.css" rel="stylesheet">


<style>
#td-cover-block-0 {
  background-image: url("background.jpg")
}
</style>


{{< blocks/cover title="systemPipe Workflow Environment" image_anchor="top" height="min" color="primary" >}}
<div id="svg-logo"></div>
<script src="js/home_page.js"></script>
<script>
  loadLogo("images/sp_org_links.svg")
</script>

<!-- <br> </br> -->
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about/" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/news" >}}">
		New Features <i class="fa fa-book ml-2 "></i>
	</a>
	<p class="lead mt-5 sps-bg-subtitle">A workflow design, report generation, and visualization framework for data analysis</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

<!--NEXT SECTION-->

{{% blocks/lead color="300" %}}
<strong>systemPipe Project</strong>

The systemPipe project provides a suite of R/Bioconductor packages for designing, building and running end-to-end analysis workflows on local machines, HPC clusters and cloud systems, while generating at the same time publication quality analysis reports.

{{% /blocks/lead %}}

<!--NEXT SECTION-->

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-dna" title="Bioconductor" %}}

Download a stable release from Bioconductor of
<p><a href="https://www.bioconductor.org/packages/release/bioc/html/systemPipeR.html" target="_blank">systemPipeR </a>,
<a href="https://www.bioconductor.org/packages/release/bioc/html/systemPipeShiny.html" target="_blank">systemPipeShiny </a>,
<a href="https://www.bioconductor.org/packages/release/bioc/html/systemPipeTools.html" target="_blank">systemPipeTools </a>,
<a href="http://bioconductor.org/packages/release/data/experiment/html/systemPipeRdata.html" target="_blank">systemPipeRdata</a>.</p>

{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}
Get the lastest version, submit issues and pull requests.
Read more <a href="https://github.com/systemPipeR/" target="_blank">here</a>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-arrow-alt-circle-right" title="systemPipeShiny Demo" %}}
Try an interactive <a href="https://tgirke.shinyapps.io/systemPipeShiny/" target="_blank">demo and tutorial</a>.
{{% /blocks/feature %}}

{{< /blocks/section >}}









